<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<!-- BM- That's a way how to set up Test Suites
 This Sample linked to ThirdTests.java class -->
<suite name="Suite1" verbose="10" >
    <test name="Nopackage" >
        <packages>
                <package name="uk.tests.*">
        </packages>

        <groups>
            <run>
                <!--<exclude name="regression"  />-->
                <include name="regression"  />
            </run>
        </groups>


        <!--<classes>-->
            <!--<class name="uk.tests.ThirdTests">-->
                <!--<methods>-->
                    <!--<include name="test1" />-->
                    <!--<include name="test2" />-->
                <!--</methods>-->
            <!--</class>-->
        <!--</classes>-->
    </test>

    <!--<test name="Regression1">-->
        <!--<classes>-->
        <!--</classes>-->
    <!--</test>-->
</suite>
